.profil{
    background: #1B2B66;
    color: white;
}

.table{
    color: white;
    .name{
    font-size: 30px;
    }

    .civil{
        text-align: right;
    }
}

.title{
    border-bottom: 1px solid black;
}
